@import './variables';
@import './mixins';

.grid {
    @include flexCenter(column);
    user-select: none;
    padding: 20px 0;
}

.row {
    @include flexCenter(row);
    user-select: none;
    flex-wrap: nowrap;
}