.nav-row {
    flex-direction: row;
}

.static-width {
    text-align: center;
    width: 105px;
}

.nav-wide {
    width: 100%;
    // background-color: #203A43;
}

.bold {
    font-size: 1.1em;
    font-weight: 600;
}
