@import './variables';

.node {
    width: 24px;
    height: 24px;
    border: 1px solid $node_border;
    background-color: $node_background;
    box-sizing: border-box;
    border-radius: 2px;

    &:hover {
        cursor: pointer;
    }

    &.wall {
        background-color: $node_wall;
        border-color: $node_wall;
    }

    &.start{
        background-color: $start_clr;
    }

    &.end {
        background-color: $end_clr;
    }

    &.visited {
        animation: visited 0.4s ease-in 0s 1 normal backwards;
    }

    &.path {
        animation: 0.5s ease-in 0s path;
        animation-fill-mode: forwards;
    }

    &.light {
        background-color: $w-light;
    }

    &.medium {
        background-color: $w-med;
    }

    &.heavy {
        background-color: $w-heavy;
    }

    &.insane {
        background-color: $w-insane;    
    }

}

@keyframes visited {
    0% {
        background-color: inherit;
    }

    100% {
        background-color: $visit_clr;
    }
}

@keyframes path {
    0% {
        background-color: inherit;
    }

    100% {
        background-color: $path_clr;
    }
}