@import './variables';

.node {
    width: 24px;
    height: 24px;
    border: 1px solid $node_border;
    background-color: $node_background;
    box-sizing: border-box;
    border-radius: 2px;

    &:hover {
        cursor: pointer;
    }

    &.wall {
        background-color: $node_wall;
    }

    &.start{
        background-color: $start_clr;
    }

    &.end {
        background-color: $end_clr;
    }

    &.path {
        background-color: $path_clr;
    }

    &.animate {
        
    }
}