@import './variables';

.node {
    width: 24px;
    height: 24px;
    border: 0.1px solid $node_border;
    background-color: $node_background;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
    }

    &.wall {
        background-color: $node_wall;
    }

    &.start{
        background-color: $start_clr;
    }

    &.end {
        background-color: $end_clr;
    }
}