$node_background: #f5f5f5;
$node_border: #94dcdf;
$node_wall: black;
$start_clr: #27a56d;
$end_clr: #8e2a1b;
$path_clr: #FFFF00;
$visit_clr: #c0ede6;
$visit_done_clr: #47cc71;

$w_light: #b3f283;
$w_med: #d8d55c;
$w_heavy: #f2b44f;
$w_insane: #ff925a;